<div class="form_1" id="form">
	<h1>
		Apply to Foster an Animal
	</h1>
	<div class="container" id="apply">
<form action="/send" method="post" enctype="multipart/form-data" name="frm">
	<br />
	<h3>
		First Things First
	</h3><br />
	<p>
		My name is <input type="text" class="input-small" placeholder="First Name" name="firstname" required="required"> <input type="text" class="input-small" placeholder="Last Name" name="lastname" required="required"> and I want to foster an animal! You can reach me by email: <input type="email" class="input-medium" placeholder="your@email.com" name="email" required="required"> and by phone: <input type="text" class="input-small" placeholder="xxx-xxx-xxxx" name="phone" required="required">
	</p>
	<p>
		I was born in the year: <input type="text" class="input-mini" placeholder="YYYY" name="dob"> I am currently <select class="input-small" placeholder="pick one" name="employment" id="employment">
			<option value="">
				select
			</option>
			<option value="employed">
				employed
			</option>
			<option value="unemployed">
				unemployed
			</option>
			<option value="in_school">
				in school
			</option>
			<option value="other">
				other
			</option>
		</select>
	</p>
	<div id="hidden_employment">
	<p class="help-block">please explain:</p> <input type="text" class="input-medium" placeholder="explanation" name="employment_explanation" id="employment_explanation">
	</div>
</div>
	<a href="#form_2" data-toggle="scroll"><img src="img/arrows.png" width="75" height="27"></a>

</div>
<div class="scallop_blue_red">
</div>
<div class="form_2" id="form_2">
	<h3>
		More About You
	</h3><br />
	<p>
		My permanent address is <input type="text" class="input-large" placeholder="address" name="address_street"> <input type="text" class="input-mini" placeholder="apt #" name="address_apt"> <input type="text" class="input-medium" placeholder="city" name="address_city"> <input type="text" class="input-mini" placeholder="NY" name="address_state"> <input type="text" class="input-small" placeholder="zip" name="address_zip">
	</p>
	<p>
		I currently <select class="input-small" placeholder="pick one" name="rental" id="rental">
			<option>
				select
			</option>
			<option value="rent">
				rent
			</option>
			<option value="sublet">
				sublet
			</option>
			<option value="own">
				own
			</option>
		</select> my home.
	</p>
	<div id="hidden_rental">
	<p>
		My lease <input type="radio" name="optionsRadios" id="optionsRadios1" value="yes"> does <strong>or</strong> <input type="radio" name="optionsRadios" id="optionsRadios2" value="no"> does not allow animals
	</p>
	</div>
	<p>
		Any animal I foster will be alone <select class="input-small" placeholder="hours" name="hours_alone">
			<option>
				select
			</option>
			<option>
				less than 2
			</option>
			<option>
				2-3
			</option>
			<option>
				4-8
			</option>
			<option>
				more than 8
			</option>
		</select> hours a day
	</p>
	<p>
		I live with <input type="text" class="input-mini" placeholder="number" name="other_people"> other people. <input type="text" class="input-mini" placeholder="number" name="children"> of them are children. Is everyone ok with fostering? <select class="input-small" placeholder="pick one" name="others_allow">
			<option>
				yes
			</option>
			<option>
				no
			</option>
		</select>
	</p>
	<a href="#form_3" data-toggle="scroll"><img src="img/arrows.png" width="75" height="27"></a>
</div>
<div class="scallop_red_green">
</div>
<div class="form_3" id="form_3"> 
	<h3>
		You &amp; Animals
	</h3><br>
	<p>
		In the past, I have had <label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="had_dogs"> Dogs</label> <label class="checkbox inline"><input type="checkbox" id="inlineCheckbox2" value="x" name="had_cats"> Cats</label>
	</p>
	<p>
		In the past, I have fostered <label class="checkbox inline"><input type="checkbox" id="fostered1" value="x" name="fostered_dogs"> Dogs</label> <label class="checkbox inline"><input type="checkbox" id="fostered2" value="x" name="fostered_cats"> Cats</label>
	</p>
	<div id="hidden_foster">
	<p>
		Please tell us about your fostering experience:
		<br /><textarea class="input-xlarge" id="textarea" rows="2" name="foster_exp">
</textarea>
	</p>
	</div>
	<p>
		I currently have <input type="text" class="input-mini" placeholder="number" name="number_dogs"> Dogs and <input type="text" class="input-mini" placeholder="number" name="number_cats"> Cats
	</p>
	<p class="help-block">
		If you currently have animals:
	</p>
	<p>
		My vet's name is <input type="text" class="input-medium" placeholder="vet name" name="vet_name"> and their phone number is <input type="text" class="input-small" placeholder="xxx-xxx-xxxx" name="vet_phone">
	</p>
	<p>
		I can provide the following supplies: <label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="provide_food"> Food</label> <label class="checkbox inline"><input type="checkbox" id="inlineCheckbox2" value="x" name="provide_litter"> Litter</label> <label class="checkbox inline"><input type="checkbox" id="inlineCheckbox3" value="x" name="provide_vet"> Vet Care</label> <label class="checkbox inline"><input type="checkbox" id="inlineCheckbox4" value="x" name="provide_transport"> Transportation</label>
	</p>
	<a href="#form_4" data-toggle="scroll"><img src="img/arrows.png" width="75" height="27"></a>
</div>
<div class="scallop_green_blue">
</div>
<div class="form_4" id="form_4"> 
		<label class="checkbox inline"><label class="control-label" for="inlineCheckboxes"><h3>I am willing to foster:</h3></label></label>
	<div class="row">
		<!--accessibility navigation-->
		<ul class="hidden">
			<li>
				<a href="#main-content">Skip to main content</a>
			</li>
			<li>
				<a href="#sec-content">Skip to secondary content</a>
			</li>
		</ul><!--/accessibility navigation-->
		<!--container-->
		<noscript>
		<p class="warning">
			You have <a href="http://www.google.com/support/bin/answer.py?answer=23852">JavaScript disabled</a> or are viewing the site on a device that does no support JavaScript.Some features may not work properly.
		</p></noscript>
	
		<ul id="tree1">
			<div class="span5">
	
		<div class="span5">
			
		
		</ul>
		</div>
		
		
		
		<div class="span2">
			<img src="img/dogs.png" alt="dogs" width="200" height="150">
		</div><br>
		<div class="span3">
				<ul id="tree1">
					<li>
					<h3 align="center">Dogs</h3>
					<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="all_dogs">Any Dog</label><br>

							<div class="span3">
								<ul>
									<li>
										<label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="adult_dog">An Adult Dog</label>
										<ul>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox2" value="x" name="injured_a_dog">That is injured</label></label>
											</li>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox3" value="x" name="ill_a_dog">That is ill</label></label>
											</li>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox4" value="x" name="pregnant_dog">That is pregnant</label></label>
											</li>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox5" value="x" name="dog_puppies">With puppies</label></label>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="span3">
								<ul>
									<li>
										<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="young_dog" >A Young Dog</label></label>
										<ul>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="injured_y_dog">That is injured</label></label>
											</li>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="ill_y_dog">That is ill</label></label>
											</li>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="bottle_puppies">That is bottle feeding</label></label>
											</li>
										</ul>
									</li>
								</ul>
							</div>
		</div>
		
		<div class="span2">
			<img src="img/cats.png" alt="cats" width="200" height="150">
		</div>
		<div class="span3">
					<ul id="tree1">
						<li>
										<h3 align="center">Cats</h3>
							<label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="all_cats">Any Cat</label><br>

							<div class="span3">
								<ul>
									<li>
										<label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="adult_cat">An Adult Cat</label>
										<ul>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox2" value="x" name="injured_a_cat">That is injured</label></label>
											</li>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox3" value="x" name="ill_a_cat">That is ill</label></label>
											</li>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox4" value="x" name="pregnant_cat">That is pregnant</label></label>
											</li>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox5" value="x" name="cat_kittens">With kittens</label></label>
											</li>
										</ul>
									</li>
								</ul>
						
								<ul>
									<li>
										<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="x" name="young_cat">A Young Cat</label></label>
										<ul>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox2" value="x" name="injured_y_cat">That is injured</label></label>
											</li>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox3" value="x" name="ill_y_cat">That is ill</label></label>
											</li>
											<li>
												<label class="checkbox inline"><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox4" value="x" name="bottle_kittens">That is bottle feeding</label></label>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
		</div>
		<div="clear"></div>	
			<div id="form_4_img">
				<a href="#form_5" data-toggle="scroll"><img src="img/arrows.png" width="75" height="27"></a>
			</div>
</div>
<div class="scallop_blue_red">
</div>
<div class="form_2" id="form_5"> 
	<h3>
		Last but not Least
	</h3><br>
	<p>
		I can start fostering on <input type="text" class="input-small" placeholder="date" name="start"> and prefer to foster for <input type="text" class="input-small" placeholder="length" name="length"> at a time.
	</p>
	<p>
		I want to foster because:<br/>
	</p>
	<div class="controls">
		<textarea class="input-xxlarge" id="textarea" rows="3" name="why_foster" maxlength="250">
</textarea>
	</div>
	<br />
	<label class="checkbox inline"><input type="checkbox" id="opt-in" value="opt-in" name="chk" onClick="apply()">	<p>
		I agree to be contacted by a partnering organization about fostering animals.</label>
	</p>
	<br />
	<input button="" type="submit" value="Submit" class="btn btn-primary btn-large" name="submit" disabled >
	<input button="" type="reset" value="Clear" class="btn">
</form><!-- /container -->
</div>
