<div class="top" id="top">
	<div class="container">
		<div class="row">
			<div class="hero-unit">
			
				<h1>
					Hello, Partner!
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h3>List of Foster Applicants</h3>
				<%= erb :show_db %>
			</div>
		</div>
	</div>
</div>
