<div class="top" id="top">
	<div class="container">
		<div class="row">
			<div class="span7">
				<div class="hero-unit">
				
					<h1>
						Foster Animals in NYC
					</h1><br>
					<p>
						Provide temporary care for an animal while they look for a forever home.
					</p><a href="http://www.aspca.org/aspca-nyc/volunteer/fostering.aspx" target="blank"><img src="img/aspca_50.png" alt="ASPCA" width="50" height="52"></a> <a href="http://www.animalalliancenyc.org/help/volunteer/foster.htm" target="blank"><img src="img/mayors_50.png" alt="Mayor's Allience of NYC" width="50" height="50"></a>
					<p>
						participating organizations
					</p><br>
					<p>
						<a href="#learn" class="btn btn-primary btn-large" data-toggle="scroll">Learn More »</a> <a href="#apply" class="btn btn-primary btn-large" data-toggle="scroll">Apply Now »</a>
					</p><br>
				</div>
			</div>
			<div class="span5">
				<div class="pull-right">
					<img src="img/city_600.png" alt="dog and cat in nyc" width="600" height="448">
				</div>
			</div>
		</div>
	</div>
</div>



<div class="about">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h2>
					Is Fostering Right for Me?
				</h2><br>
			</div>
			<div class="span4">
				<div class="quotes">
					"I'm just living in New York short-term, and might move soon."
				</div>
				<center>
					<img src="img/fosterer1_arrow.png" alt="fosterer" width="150" height="124">
				</center><br>
				<h4>
					Foster Time Varies
				</h4>
				<hr>
				<p>
					Fostering can be as short as a week. Our partnering organizations can work with your schedule, even if it's really tight. But while you're here, share the love!
				</p>
			</div>
			<div class="span4">
				<div class="quotes">
					"I'm not sure I can commit to an animal for the next 12-20 years."
				</div>
				<center>
					<img src="img/fosterer2_arrow.png" alt="fosterer" width="150" height="124">
				</center><br>
				<h4>
					Try it Out!
				</h4>
				<hr>
				<p>
					Adopting an animal is a big commitment, and not everyone is ready for that step. Fostering is a great way to temporarily care for an animal and test the waters.
				</p>
			</div>
			<div class="span4">
				<div class="quotes">
					"I already have an animal, and adopting a 2nd is a big decision!
				</div>
				<center>
					<img src="img/fosterer3_arrow.png" alt="fosterer" width="150" height="124">
				</center><br>
				<h4>
					An Additional Friend
				</h4>
				<hr>
				<p>
					Some of the best foster families are those who already have animals. They know the ropes, and their furry friends enjoy having a houseguest around.
				</p><br>
			</div>
			<div class="span12">
				<div class="accordion-heading">
					<p class="pull-right">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">More Fostering Questions &gt;&gt;</a>
					</p>
				</div><br>
			</div>
				<div id="collapseOne" class="accordion-body collapse">
					<div class="accordion-inner">
						<div class="span12">
							<h4>
								What if I don't know how to take care of a foster animal?
							</h4>
							<hr>
							<p>
								Most organizations have training sessions or one-on-ones with new foster caregivers. If this is a specific concern of yours, make sure to mention it when you first speak with your foster organization. 
							</p><br />
							<h4>
								How much does fostering cost?
							</h4>
							<hr>
							<p>
								Depending on the organization, financial cost varies. Almost all organizations provide vaccinations and vet checks before fostering, and some can provide you with donated food and accessories. With most organizations, you need to provide food, a collar and leash for dogs, and a litter box and litter for cats. Food and litter will cost under $20 a week. Be sure to ask your foster organization what they can provide when you speak with them.
							</p><br />
							<h4>
								What if I get attached?
							</h4>
							<hr>
							<p>
								We can't promise that you won't. But if you've fallen in love with your foster animal, that means someone else could too! Helping your foster animal find a forever home will help make your separation a sweet one.
							</p><br />
								<h4>
									Do I get to help in finding a forever home?
								</h4>
								<hr>
								<p>
								Yes! Your organization will be looking for a good match, but you get to play a big role in finding your foster animal their perfect home. Along with screening potential adopters, you might be asked to bring the foster animal out to adoption events. You can share your cute photos with the organization to use on their website, and help the organization find the right fit for your foster. 
								</p><br />
								<h4>
									Are there other resources?
								</h4>
								<hr>
								<p>
								There are a lot of animal foster resources online. Here are just a few to get you started:<br /> <a href="http://www.fosterdogsnyc.com/2012/03/20-questions-to-ask-before-you-foster.html" target="blank">20 Questions to Ask Before You Foster</a>
								<br /><a href="http://www.petfinder.com/blog/2010/12/03/pet-fostering-101-what-is-fostering-how-to-start/" target="blank">Pet Fostering 101</a>
								<br /><a href="http://www.dogster.com/dog-adoption/doggie-foster-parent" target="blank">Tips for Being a Good Dog Foster Parent</a>
								<br /><a href="http://www.catster.com/cat-adoption/cat-foster-parent" target="blank">Tips for Being a Good Cat Foster Parent</a>
								</p><br />
								<p>Have a question you can't find an answer to? <a href="mailto:info@fostr.org">Contact Us!</a>
							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="about2" id="learn">
	<div class="container">
		<div class="row">
			<div class="span6">
				<h2>
					What is Fostering?
				</h2><br />
				<div class="icon">
					<img src="icons/house.png" alt="house" width="25" height="21">
				</div><p>A foster home is a short-term living situation for animals while they wait to be adopted. It can be as short as a few days, or as long as it takes for them to be adopted. The organization can work around your time constraints.</p>
					<br />
				<div class="icon">
					<img src="icons/food.png" alt="food">
				</div>
				<p>Foster families provide animals with love, attention and shelter. Every animal fostered is an animal saved.
					</p>
			</div>
			<div class="span6">
				<h2>
					What Animals Need Fostering?
				</h2><br />
				<div class="icon">
					<img src="icons/bottle.png" alt="bottle">
				</div>
				<p>Kittens, puppies, and special care animals need to be fostered until they are old enough for adoption.
				</p>
				<br />
				<div class="icon">
					<img src="icons/cat.png" alt="cat">
				</div>
				<p>Some animals get stressed or upset in a shelter environment, and need human companionship until they are adopted.
					</p>
			</div>
			<div class="span12">
				<br>
				<h2>
					How Does it Work?
				</h2><br>
			</div>
			<div class="span4">
				<div class="how_number">
					1
				</div><br>
				<p>
					Apply to foster by filling out the form!
				</p>
				<center>
					<img src="img/fostr_list_150.png" alt="form" width="150" height="173">
				</center><br>
			</div>
			<div class="span4">
				<div class="how_number">
					2
				</div><br>
				<p>
					An organization matches you up with a foster animal.
				</p>
				<center>
					<img src="img/fostr_face4_150.png" alt="partner org" width="150" height="124">
				</center><br>
			</div>
			<div class="span4">
				<div class="how_number">
					3
				</div><br>
				<p>
					You're a foster caretaker now!
				</p><br>
				<center>
					<img src="img/fostr_heart_150.png" alt="cat in heart" width="150" height="121">
				</center><br>
			</div>
		</div><br>
	</div>
</div>

	<div class="container">
		<div class="row">
			<div class="hero-unit">
			
				<h1>
					Thank you for applying to foster, <%= params[:firstname] %>!
				</h1><br>
				<h3>A partner organization will contact you soon.</h3>

</div>
</div>


	</div>			
</div>